<h2>Create a new drone</h2>

<form action="" method="POST">
<input type="" name="name" id="">
<input type="number" name="propellers" id="">
<input type="number" name="maxSpeed" id="">
<button type="submit" >Save</button>



</form>