<h2>Update the drone</h2>



<form action="" method="POST">
<input type="" name="name" id="" value="{{drone.name}}">
<input type="number" name="propellers" id="" value="{{drone.propellers}}">
<input type="number" name="maxSpeed" id="" value="{{drone.maxSpeed}}">
<form action="/drones/{{drone._id}}/edit" method="post"> 
<button type="submit" >Save</button>
</form>




</form>